<div class="page-container">

  <div class="top-bar">
    <h2>Forensic Report System</h2>
    <button mat-raised-button color="warn" (click)="logout()">
      Logout
    </button>
  </div>

  <!-- UPLOAD SECTION -->
  <div class="card">
    <h3>Upload forensic report</h3>

    <input
      #fileInput
      type="file"
      accept="application/pdf"
      (change)="onFileSelected($event)"
      hidden
    />

    <button
      mat-raised-button
      color="primary"
      (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
      Upload PDF
    </button>

    <span *ngIf="selectedFile" class="file-name">
      {{ selectedFile.name }}
    </span>

    <div *ngIf="showForm" class="form-section">

      <h4>Report data</h4>

      <form class="grid-form">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Organization name</mat-label>
          <input matInput [(ngModel)]="formData.organizationName"
                name="organizationName">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Address</mat-label>
          <input matInput [(ngModel)]="formData.address"
                 name="address">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="formData.email"
                name="email">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Phone number</mat-label>
          <input matInput [(ngModel)]="formData.phone"
                name="phone">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>File name</mat-label>
          <input matInput [(ngModel)]="formData.fileName"
                name="fileName">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Classification</mat-label>
          <input matInput [(ngModel)]="formData.classification"
                name="classification">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Hash value</mat-label>
          <input matInput [(ngModel)]="formData.hash"
                name="hash">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Threat name</mat-label>
          <input matInput [(ngModel)]="formData.threatName"
                name="threatName">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Forensic expert 1</mat-label>
          <input matInput [(ngModel)]="formData.forensicExpert1"
                name="forensicExpert1">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Forensic expert 2</mat-label>
          <input matInput [(ngModel)]="formData.forensicExpert2"
                name="forensicExpert2">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Behavior description</mat-label>
          <textarea matInput
                    rows="4"
                    [(ngModel)]="formData.behaviorDescription"
                    name="behaviorDescription">
          </textarea>
        </mat-form-field>

        <div class="button-row">
          <button mat-stroked-button color="accent" type="button" (click)="confirm()">
            Confirm
          </button>
          <button mat-stroked-button color="warn" type="button" (click)="cancel()">
            Cancel
          </button>
        </div>

      </form>
    </div>
  </div>

  <!-- SEARCH SECTION -->
  <div class="card">
    <h3>Search Reports</h3>

    <div class="search-grid">

      <form (ngSubmit)="searchReports()" class="search-box">
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Boolean search (AND / OR / "")</mat-label>
        <input matInput [(ngModel)]="searchQuery" name="searchQuery">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
        Search
      </button>
      </form>

      <form (ngSubmit)="basicSearch()" class="search-box">
        <mat-form-field appearance="fill" class="search-field">
          <mat-label>Expert / Hash / Classification</mat-label>
          <input matInput [(ngModel)]="basicSearchInput" name="basicSearchInput">
        </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
        Search
      </button>
      </form>

      <form (ngSubmit)="searchOrgThreat()" class="search-box">
        
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Organization / Threat</mat-label>
        <input matInput [(ngModel)]="orgThreatInput" name="orgThreatInput">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
        Search
      </button>
      </form>

      <form (ngSubmit)="searchBehavior()" class="search-box">
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Behavior description</mat-label>
        <input matInput [(ngModel)]="behaviorInput" name="behaviorInput">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
        Search
      </button>
      </form>

      <form (ngSubmit)="searchKnn()" class="search-box">

      <mat-form-field appearance="fill" class="search-field">
        <mat-label>KNN search</mat-label>
        <input matInput [(ngModel)]="knnInput" name="knnInput">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
        Search
      </button>
      </form>

    <form (ngSubmit)="searchGeo()" class="search-box" style="display: flex; flex-direction: column; gap: 8px; max-width: 400px;">

      <mat-form-field appearance="fill" class="search-field" >
        <mat-label>Search by location</mat-label>
        <input matInput [(ngModel)]="geoLocationInput" name="geoLocationInput">
      </mat-form-field>

      <div style="display: flex; gap: 8px; align-items: center;">
        <mat-form-field appearance="fill" class="search-field" style="flex: 1;">
          <mat-label>Radius (km)</mat-label>
          <input matInput [(ngModel)]="geoRadiusKm" name="geoRadiusKm" type="number">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </div>

    </form>

    </div>
  </div>

  <h2>Visualizations</h2>
  <iframe src="http://localhost:5601/app/dashboards#/view/54b56d9a-d45c-47b8-8af0-3dba0b57370d?embed=true&_g=(time:(from:'now-1y',to:'now'))"
        height="600"
        width="100%"
        frameborder="0"></iframe>

  <!-- RESULTS -->
  <div *ngIf="searchResults.length > 0" class="card">
    <h3>Results</h3>

    <div *ngFor="let r of searchResults" class="result-card">
      <h4>{{ r.organizationName }}</h4>
      <p><strong>Threat:</strong> {{ r.threatName }}</p>
      <p><strong>Classification:</strong> {{ r.classification }}</p>

      <div [innerHTML]="r.snippet ? r.snippet : r.behaviorDescription"></div>

      <small *ngIf="r.score !== undefined">
        Score: {{ r.score | number:'1.2-2' }}
      </small>
    </div>

    <div class="pagination" *ngIf="totalPages > 1">
      <button (click)="changePage(currentPage - 1)"
              [disabled]="currentPage === 0">
        Previous
      </button>

      <span>
        Page {{ currentPage + 1 }} of {{ totalPages }}
      </span>

      <button (click)="changePage(currentPage + 1)"
              [disabled]="currentPage + 1 >= totalPages">
        Next
      </button>
    </div>
  </div>

  <div *ngIf="searchResults.length === 0 && searchPerformed"
       class="card empty-state">
    No reports found.
  </div>

</div>